body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #ff9ecb, #6ec6ff);
    text-align: center;
}

.container {
    margin-top: 80px;
}

h1 {
    color: black;
}

textarea {
    width: 80%;
    height: 200px;
    padding: 10px;
}

input {
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin: 8px;
    border: none;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

button:hover {
    background: #f2f2f2;
}
